<div class="container-fluid navbar-background-color py-1">
    <div class="d-flex justify-content-around">
        <div class="col-sm text-white">
            <p class="logo-nav-color h1">MedCraft</p>
        </div>
        <div class="col-sm text-white d-flex justify-content-end padding_top_10">
            <div class="mx-3">
                <h5 class="hover_underline">log out</h5>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid my-3">
    <table class="table">
        <thead>
            <th scope="col">
                Hospital Name
            </th>
            <th scope="col">
                Hospital Address 
            </th>
            <th scope="col">
                Hospital Country 
            </th>
            <th scope="col">
                Hospital State
            </th>
        </thead>

        <tbody>
            <tr *ngFor="let hospital of hospitalListDetails.data.hospital_details">
                <td>
                    {{ hospital.hospital_name }}
                </td>
                <td>
                    {{ hospital.hospital_addr }}
                </td>
                <td>
                    {{ hospital.hospital_country }}
                </td>
                <td>
                    {{ hospital.hospital_state }}
                </td>
            </tr>
        </tbody>

    </table>
</div>