<div class="container my-3">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./../../../assets/{{ imgFileName }}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ btnTxt }}</h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
          <a href="#" class="btn btn-primary submit-btn">{{ btnTxt }}</a>
        </div>
    </div>
</div>