<div class="container-fluid navbar-background-color py-1">
    <div class="d-flex justify-content-around">
        <div class="col-sm text-white">
            <p class="logo-nav-color h1">MedCraft</p>
        </div>

        <div class="col-sm text-white d-flex justify-content-end padding_top_10">
            <div>
                <h5 class="px-3 border_right_1_px" routerLink="/org_login"><span class="hover_underline">organization</span></h5>
            </div>
            <div class="mx-3">
                <h5 class="hover_underline">patients</h5>
            </div>
        </div>
    </div>
</div>

<div class="container form_contaienr">
    <div class="container-fluid">
        <div class="container">
            <p class="h3 text-center">
                organization registration
            </p>
            <hr />
            <div *ngIf="registrationError" class="alert alert-primary">
                {{ message }}
            </div>
        </div>
    </div>
    <form [formGroup]="orgFormGroup" (ngSubmit)="submitOrgRegForm(orgFormGroup.value)" autocomplete="off">
        <div class="container">
            <div class="row">
                <div class="col">
                    <label class="smoke_text" for="org_name">organization name</label>
                    <br />
                    <input type="text" class="input_border_rad_10 width_8 height_6" for="org_name" name="organization_name" formControlName="organization_name" />
                    <p *ngIf="orgFormGroup.controls['organization_name'].invalid && orgFormGroup.controls['organization_name'].touched" class="text-danger">
                        please enter name
                    </p>
                </div>
                <div class="col">
                    <label class="smoke_text" for="org_address">organization address</label>
                    <br /> 
                    <input class="input_border_rad_10 height_6 width_8" for="org_address" name="organization_address" formControlName="organization_address" />
                    <p *ngIf="orgFormGroup.controls['organization_address'].invalid && orgFormGroup.controls['organization_address'].touched" class="text-danger">
                        please enter address
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="smoke_text" for="org_country">organization country</label>
                    <br />
                    <select  class="input_border_rad_10 height_6 width_8 form-control" (change)="countryChanged($event)" type="text" name="organization_country" formControlName="organization_country">
                        <option *ngFor="let c of countryList" [value]=c.iso2>{{ c.name }}</option>
                    </select>
                    <p *ngIf="orgFormGroup.controls['organization_country'].invalid && orgFormGroup.controls['organization_country'].touched" class="text-danger">
                        please enter country
                    </p>
                </div>
                <div class="col">
                    <label class="smoke_text" for="org_state">organization state</label>
                    <br /> 
                    <select class="form-control input_border_rad_10 height_6 width_8" (change)="stateChange($event, orgFormGroup.value)" type="text" name="organization_state" formControlName="organization_state">
                        <option *ngFor="let s of stateList" [value]=s.iso2>{{ s.name }}</option>
                    </select>
                    <p *ngIf="orgFormGroup.controls['organization_state'].invalid && orgFormGroup.controls['organization_state'].touched" class="text-danger">
                        please enter state
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label class="smoke_text" for="org_city">organization city</label>
                    <br />
                    <select class="form-control input_border_rad_10 height_6 width_8" type="text" name="organization_city" formControlName="organization_city">
                        <option *ngFor="let c of cityList" [value]=c.name>{{ c.name }}</option>
                    </select>
                    <p *ngIf="orgFormGroup.controls['organization_city'].invalid && orgFormGroup.controls['organization_city'].touched" class="text-danger">
                        please enter city
                    </p>
                </div>
                <div class="col">
                    <label class="smoke_text" for="org_phone">organization phone</label>
                    <br />
                    <input class="input_border_rad_10 height_6 width_8" type="text" name="organization_phone" formControlName="organization_phone" />
                    <p *ngIf="orgFormGroup.controls['organization_phone'].invalid && orgFormGroup.controls['organization_phone'].touched" class="text-danger">
                        please enter phone
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <label for="org_email" class="smoke_text">organization email</label>
                    <br />
                    <input class="input_border_rad_10 height_6 width_8" for="org_email" name="organization_email" type="text" formControlName="organization_email" />
                    <p *ngIf="orgFormGroup.controls['organization_email'].invalid && orgFormGroup.controls['organization_email'].touched" class="text-danger">
                        please enter email
                    </p>
                </div>
                <div class="col">
                    <label for="org_password" class="smoke_text">password</label>
                    <br/>
                    <input class="input_border_rad_10 height_6 width_8" for="org_password" name="organization_password" type="password" formControlName="organization_password" />
                    <p *ngIf="orgFormGroup.controls['organization_password'].invalid && orgFormGroup.controls['organization_password'].touched" class="text-danger">
                        please enter password
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="container submit_btn_container my-3">
                    <p class="left_margin_20">already have an account ? <a routerLink="/org_login" class="text-primary">log in.</a></p>
                    <hr/>
                    <input type="submit" class="btn btn-primary submit_btn" value="Register Organization"/>
                </div>
            </div>
        </div>
    </form>
</div>