<div class="container-fluid org-dashboard-navbar">
    <div class="row">
        <div class="col-sm-3">
            <p class="text-white h4">
                MedCraft
            </p>
        </div>

        <div class="col-sm-3">
            <p routerLink="/organization/hosptial/registartion">
                hospital
            </p>
        </div>

        <div class="col-sm-3">
            <div class="d-flex flex-row-reverse profile-logo">
                <button class="btn btn-primary profile-btn"><span class="text-white h5">Profile</span></button>
            </div>
        </div>
    </div>
</div>
