<div class="container-fluid org-dashboard-navbar bg_color_1 d-flex justify-content-between">
        <div class="container">
            <p class="text-white h3">
                MedCraft
            </p>
        </div>
        <div class="container d-flex justify-content-between">
            <p class="nav-link text-white h5">
                Hopitals
            </p>
    
            <p routerLink="/org_signup" class="text-white h5 nav-link">
                Doctor
            </p>
    
            <p  class="text-white h5 nav-link">
                Patients
            </p>
    
            <p class="text-white h5 nav-link">
                Services
            </p>
        </div>

        <div class="container">

        </div>
        
</div>