<div class="container-fluid org-dashboard-navbar">
    <div class="row">
        <div class="col-sm-3">
            <p class="text-white h4">
                MedCraft
            </p>
        </div>

        <div class="col-sm-6">
            <div class="d-inline-flex justify-content-between">
                <input type="text" class="searchText" for="searchText" name="searchText" />
                <button class="mx-3 btn btn-primary searchBtn"> Search </button>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="d-flex flex-row-reverse profile-logo">
                <button class="btn btn-primary profile-btn"><span class="text-white h5">Profile</span></button>
            </div>
        </div>
    </div>
</div>
