.org-dashboard-navbar {
    background-color: rgb(76, 53, 117);
    padding: 1%;
}

.profile-btn {
    padding-left: 5%;
    padding-right: 5%;
    background-color: rgb(76, 53, 117);
    border-color: rgb(55, 27, 88);
}

.profile-btn:hover {
    background-color: rgb(55, 27, 88);
}

.searchText {
    width: 700px;
    margin-left: 3%;
    border: 2px solid white;
    border-radius: 5px;
}
