<div class="container-fluid navbar-background-color py-1">
    <div class="d-flex justify-content-around">
        <div class="col-sm text-white">
            <p class="logo-nav-color h1">MedCraft</p>
        </div>

        <div class="col-sm text-white d-flex justify-content-end padding_top_10">
            <div>
                <h5 class="px-3 border_right_1_px" routerLink="/org_login"><span class="hover_underline">organization</span></h5>
            </div>
            <div class="mx-3">
                <h5 class="hover_underline">patients</h5>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <img src="./../../../../assets/2.png" class="home_page_image" />
        </div>
        <div class="col-6">
            <div class="page_center_txt_content">
                <p class="h1 text_color_1">
                    Putting every need for Hopstail Network<br/> at one place,patients, doctors, hospitals<br/>
                    all at one place.
                </p>
                <p class="text-center h2 my-3">
                </p>
            </div>
        </div>
    </div>
</div>
