<div class="container-fluid bg_color_1 navbar_div">
    <div class="row py-2">
        <div class="col-sm-10 text-white h3">
            <p class="font-weight-bold">MedCraft</p>
        </div>
        <div class="col text-white h5 my-3">
            <span class="user_login_div"><a href="#" class="link text-white">organizations</a></span>
            <span class="user_login_div"><a href="#" class="link text-white">users</a></span>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-6">
            <img src="./../../../../assets/2.png" class="home_page_image" />
        </div>
        <div class="col-6">
            <div class="page_center_txt_content">
                <p class="h3 text-center">MedCraft</p>
                <hr />
                <p class="text-center h6">
                    Software solution for hassle Free interaction between Hopitals, Doctors and Patients.<br/> 
                    well Handling of patient and doctor data, data analysis of patients <br/> 
                    targeted advices for both patients and organizations.
                </p>
            </div>
        </div>
    </div>
</div>

