.bg_color_1 {
    background-color: rgb(76, 53, 117);
}

.link {
    text-decoration: none;
    color: white;
}

.link:hover {
    text-decoration: none;
}


.navbar-link {
    padding-left: 4%;
    padding-right: 4%;
    border: 2px solid rgb(76, 53, 117);
    border-radius: 2%;
}

.navbar-link:hover {
    border-color: rgb(55, 27, 88);
    cursor: pointer;
}


.smoke_text {
    color: gray;
}

.submit_btn {
    width: 100%;
    border: 1px solid rgb(76, 53, 117);
    background-color: rgb(76, 53, 117);
}


.custom-alert-1 {
    background-color: rgb(76, 53, 117);
    color: white;
    padding: 10px;
    border-radius: 10px;
}

.big-font { 
    font-size: 6em;
}

.navbar-background-color {
    background-color: #150050;
}

.logo-nav-color {
    color: #03C988;
}

.padding_top_10 {
    padding-top: 10px;
}

.hover_underline:hover {
    border-bottom: 1px solid white;
    cursor: pointer;
    transition: width 2s;
}

.text_color_1 {
    color: #00337C;
}

.text_color_2 {
    color: #1C82AD;
}

.border_right_1_px {
    border-right: 1px solid white;
}